.container {
  width: 75%; /* Takes up 75% of the page width */
  margin: 0 auto; /* Centers the container */
  min-height: 100vh;
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  border-radius: 8px; /* Rounds the corners */
}

.weatherInfo {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a light shadow */
  margin-bottom: 20px;
}

.forecastItem {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #333; /* Darker text color for better contrast */
}

p {
  color: #555; /* A softer gray for paragraph text */
}

ul {
  list-style: none; /* Removes default bullet points */
  padding: 0;
}

li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd; /* Adds a subtle line between forecast items */
}

li:last-child {
  border-bottom: none; /* No border for the last item */
}

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.temperature {
  font-weight: bold;
  color: #007bff; /* Highlight the temperature */
}
