@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poetsen One", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

.dark-mode-toggle {
  margin-top: 10px; /* Adjusted margin-top */
  padding-left: 97%;
  position: relative;
  transform: translateY(-50%);
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 23px; /* Adjust icon size */
}
.dark-mode-toggle.dark-mode {
  color: #e1f645; /* Adjust color for dark mode icon */
}

.parrent_div {
  width: 70%;
  margin: auto;
  /* border: red 1px solid; */
}
