.weather-display {
  width: 65%;
  padding-left: 10px;
  margin: 2% 18%;
  height: 350px;
  /* border: black 2px solid; */
}
.weather-display h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
}

.weather-display p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
  padding-top: 10px;
}

.weather-display p span {
  font-weight: 600;
  color: #000;
}
.Current_wheather_p1 {
  width: 100%;

  height: 300px;

  border: 1px;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  /* box-sizing: border-box; */
  font: inherit;
  margin: 0;
  vertical-align: baseline;
  /* background-color: #fff; */
}
.data_info {
  /* border: red solid 1px; */
  height: 15%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
#text_time {
  /* border: rgb(0, 8, 255) solid 1px; */
  font-weight: bolder;
  font-size: large;
  width: 20%;
}

#text_p1 {
  width: 90%;
  color: #000;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  opacity: 0.6;
}

.api_data {
  height: 80%;
  width: 100%;

  /* border: rgb(26, 227, 26) solid 3px; */
  display: flex;
  flex-direction: row;
  border-top: 1px grey solid;
}

#current_data_left {
  /* border: rgb(185, 76, 29) solid 5px; */
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
#current_data_right {
  /* border: rgb(10, 79, 93) solid 5px; */
  height: 100%;
  width: 50%;
  padding-top: 20px;
}
#tempereteur {
  font-size: 50px;
  width: 70%;
  margin: 0 0 30px 0;
}
#temp_id {
  float: right;
  padding-right: 4px;
  /* align-items: center; */
  /* border: rgb(10, 79, 93) solid 5px; */
}

#current_data_right p {
  letter-spacing: normal;
  color: #000;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: 16px;
  font-weight: 500;
  /* display: inline; */
  /* margin-right: 8px; */
  margin-left: 15px;
  padding-top: 15px;
  /* float: left; */
  /* border: red solid 1px; */
}
#current_data_right span {
  font-size: 16px;

  float: right;
}

#wheather_icon {
  /* height: 70px; */
  width: 100%;
  font-size: 5em;
  padding-right: 25px;
  color: gray;

  /* background-color: black; */
}
#testimg {
  margin-top: 40px;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 50%;
}
